/*summernote中样式修改*/
.summernote .note-editor .modal {
    display: none;
}

.summernote .note-editor .close span {
    display: none;
}

.summernote .note-popover .popover-content, .panel-heading.note-toolbar {
    padding: 0 0 5px 5px;
    margin: 0;
    background: #f5f5f5;
}

.summernote .btn-group > .btn, .btn-group > .dropdown-menu, .btn-group > .popover {
    font-size: 12px;
}

.summernote .btn {
    background: #fff;
    padding: 5px 10px;
    height: 30px;
    border: 1px solid #ccc;
}

div.checker span.checked {
    background-position: -76px -260px;
}

.controls input[type="checkbox"] {
    margin-left: 0;
}

.controls input[type="radio"] {
    margin: 4px 0 0 0;
}

/*不是none和hidden的隐藏input的方法*/
.hideInput {
    width: 1px!important;
    height: 1px!important;
    position: absolute;
    top: 0;
}

/*必填的颜色*/
.help-inline.required {
    color: #b94a48;
}

.circleModals .control-label {
    display: inline-block;
    margin-right: 10px;

}
.activation .control-label ,#radio_checked .control-label{
    text-align: left;

}

.radio_box {
    display: none;
}

.radio_box label {
    width: 60px;
}

.circleModals input[type="radio"], .circleModals input[type="checkbox"] {
    margin: 0 2px 0 0;
}
.form_bottom{
    margin:0;
}
/*认证图片的示例样式*/
.showImg img{
    max-width: 200px;
    max-height: 200px;
}
/*
!*选中默认推荐图片时的样式*!
.devaOk{
    display: inline-block;
    width: 20px;
    height: 20px;
    text-align: center;
    line-height: 20px;
    background: rgba(0,0,0,.3);
    position: absolute;
    left: 0;
    top:0;
    font-size: 18px;
    color: red;
}*/
