<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zyx.mapper.ActivityMapper">
  <resultMap id="activity" type="com.zyx.model.Activity">
    <!--
      WARNING - @mbggenerated
    -->
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="user_id" jdbcType="INTEGER" property="userId" />
    <result column="title" jdbcType="VARCHAR" property="title" />
    <result column="img_urls" jdbcType="VARCHAR" property="imgUrls" />
    <result column="start_time" jdbcType="BIGINT" property="startTime" />
    <result column="end_time" jdbcType="BIGINT" property="endTime" />
    <result column="last_time" jdbcType="BIGINT" property="lastTime" />
    <result column="max_people" jdbcType="INTEGER" property="maxPeople" />
    <result column="visible" jdbcType="INTEGER" property="visible" />
    <result column="phone" jdbcType="VARCHAR" property="phone" />
    <result column="price" jdbcType="DECIMAL" property="price" />
    <result column="type" jdbcType="INTEGER" property="type" />
    <result column="target_url" jdbcType="VARCHAR" property="targetUrl" />
    <result column="address" jdbcType="VARCHAR" property="address" />
    <result column="activity_type" jdbcType="INTEGER" property="activityType" />
    <result column="examine" jdbcType="INTEGER" property="examine" />
    <result column="member_template" jdbcType="VARCHAR" property="memberTemplate" />
    <result column="create_time" jdbcType="BIGINT" property="createTime" />
    <result column="del" jdbcType="INTEGER" property="del" />
    <result column="mask" jdbcType="INTEGER" property="mask" />
    <result column="desc_content" jdbcType="LONGVARCHAR" property="descContent" />
  </resultMap>


  <select id="queryActivity" parameterType="com.zyx.parm.QueryActivityParm" resultMap="activity">
    select * from activity where 1=1
    <if test="groupName != null and groupName != ''">
      and (title LIKE CONCAT('%','${groupName}','%' ) or address LIKE CONCAT('%','${groupName}','%' ))
    </if>
    <if test="startTime != null and startTime != '' and endTime != null and endTime != ''">
      and create_time &gt;= #{startTime}
      and end_time &lt;= #{endTime}
    </if>
    ORDER BY create_time desc
    <if test="pageNumber != null and page != null">
      limit #{pageNumber}, #{page}
    </if>
  </select>

</mapper>