<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.zyx.mapper.AppUserMapper">

    <resultMap id="BaseResultMap" type="com.zyx.model.AppUser">
        <!--
          WARNING - @mbggenerated
        -->
        <id column="id" jdbcType="INTEGER" property="id"/>
        <result column="name" jdbcType="VARCHAR" property="name"/>
        <result column="nickname" jdbcType="VARCHAR" property="nickname"/>
        <result column="password" jdbcType="VARCHAR" property="password"/>
        <result column="phone" jdbcType="VARCHAR" property="phone"/>
        <result column="avatar" jdbcType="VARCHAR" property="avatar"/>
        <result column="address" jdbcType="VARCHAR" property="address"/>
        <result column="birthday" jdbcType="BIGINT" property="birthday"/>
        <result column="lastLoginTime" jdbcType="BIGINT" property="lastlogintime"/>
        <result column="idcard" jdbcType="VARCHAR" property="idcard"/>
        <result column="type" jdbcType="INTEGER" property="type"/>
        <result column="sex" jdbcType="INTEGER" property="sex"/>
        <result column="create_time" jdbcType="BIGINT" property="createTime"/>
        <result column="authenticate" jdbcType="INTEGER" property="authenticate"/>
        <result column="mask" jdbcType="BIT" property="mask"/>
        <result column="del" jdbcType="BIT" property="del"/>
        <result column="signature" jdbcType="VARCHAR" property="signature"/>
    </resultMap>

    <resultMap id="AppUserListDto" type="com.zyx.dto.AppUserListDto">
        <id column="id" jdbcType="INTEGER" property="id"/>
        <result column="name" jdbcType="VARCHAR" property="name"/>
        <result column="nickname" jdbcType="VARCHAR" property="nickname"/>
        <result column="phone" jdbcType="VARCHAR" property="phone"/>
        <result column="avatar" jdbcType="VARCHAR" property="avatar"/>
        <result column="address" jdbcType="VARCHAR" property="address"/>
        <result column="birthday" jdbcType="BIGINT" property="birthday"/>
        <result column="sex" jdbcType="INTEGER" property="sex"/>
        <result column="create_time" jdbcType="BIGINT" property="createTime"/>
        <result column="authenticate" jdbcType="INTEGER" property="authenticate"/>
        <result column="mask" jdbcType="BIT" property="mask"/>
        <result column="del" jdbcType="BIT" property="del"/>
        <result column="signature" jdbcType="VARCHAR" property="signature"/>
        <result column="deva" jdbcType="TINYINT" property="deva"/>
        <association property="appUserAuthDto" column="id" select="selectAuthByAppUser"></association>
    </resultMap>

    <resultMap id="OfficialUserListDto" type="com.zyx.dto.OfficialUserListDto">
        <id column="id" jdbcType="INTEGER" property="id"/>
        <result column="nickname" jdbcType="VARCHAR" property="nickname"/>
    </resultMap>

    <update id="delByPrimaryKey" parameterType="Integer">
        update user set del = 1 where id = #{id}
    </update>

    <update id="unDelByPrimaryKey" parameterType="Integer">
        update user set del = 0 where id = #{id}
    </update>

    <update id="maskByPrimaryKey" parameterType="Integer">
        update user set mask = 1 where id = #{id}
    </update>

    <update id="unMaskByPrimaryKey" parameterType="Integer">
        update user set mask = 0 where id = #{id}
    </update>

    <update id="authAppUserByPrimaryKey" parameterType="Integer">
        update user set authenticate = #{1} where id = #{0}
    </update>

    <insert id="insertAuthInfo" parameterType="com.zyx.parm.appUser.AppUserCreateParam">
        INSERT INTO user_auth (user_id,authname,authidcard,authmob,authfile,authinfo,authfilework,modify_time) VALUES (#{appUserId},#{authName},#{authIDCard},#{authMob},#{authFile},#{authInfo},#{authFileWork},#{modifyTime})
    </insert>

    <select id="selectAuthCount" parameterType="int" resultType="int">
        SELECT count(id) FROM user_auth WHERE user_id = #{user_id}
    </select>

    <select id="queryAppUserByName" parameterType="java.util.List" resultType="java.lang.String">
        SELECT nickname FROM user WHERE id IN
        <foreach item="item" index="index" collection="list" open="(" separator="," close=")">
            #{item}
        </foreach>
    </select>


    <update id="updateAppUserByPrimaryKey" parameterType="com.zyx.parm.appUser.AppUserCreateParam">
        update user set modify_time = #{modifyTime}
        <if test="phone != null and phone != ''">
            ,phone = #{phone}
        </if>
        <if test="address != null and address != ''">
            ,address = #{address}
        </if>
        <if test="sex != null">
            ,sex = #{sex}
        </if>
        <if test="password != null and password != ''">
            ,password = #{password}
        </if>
        <if test="nickname != null and nickname != ''">
            ,nickname = #{nickname}
        </if>
        <if test="avatar != null and avatar != ''">
            ,avatar = #{avatar}
        </if>
        <if test="official != null">
            ,official = #{official}
        </if>
        where id = #{appUserId}
    </update>

    <update id="updateAuthInfo" parameterType="com.zyx.parm.appUser.AppUserCreateParam">
        UPDATE user_auth SET modify_time = #{modifyTime}
        <if test="authName != null and authName != ''">
            , authname = #{authName}
        </if>
        <if test="authIDCard != null and authIDCard != ''">
            , authidcard = #{authIDCard}
        </if>
        <if test="authMob != null and authMob != ''">
            , authmob = #{authMob}
        </if>
        <if test="authFileWork != null and authFileWork != ''">
            , authfilework = #{authFileWork}
        </if>
        <if test="authInfo != null and authInfo != ''">
            , authinfo = #{authInfo}
        </if>
        <if test="authFile != null and authFile != ''">
            , authfile = #{authFile}
        </if>
        <if test="modifyTime != null">
            , modify_time = #{modifyTime}
        </if>
        WHERE user_id = #{appUserId}
    </update>

    <select id="selectAuthByAppUser" parameterType="int" resultType="com.zyx.dto.AppUserAuthDto">
        SELECT * FROM user_auth where user_id = #{appUserId}
    </select>

    <select id="selectAppUserGetName" parameterType="int" resultType="java.lang.String">
        SELECT nickname FROM user where id = #{userId} and del != 1
    </select>

    <select id="queryAppUserList" parameterType="com.zyx.parm.QueryAppUserParam" resultMap="AppUserListDto">
        SELECT user.*,!ISNULL(ss.id) as deva FROM user LEFT JOIN (select * from `devaluation` where `devaluation`.model = 6) as ss ON user.id = `ss`.model_id where (nickname LIKE CONCAT('%','${searchText}','%' ) or phone LIKE
        CONCAT('%','${searchText}','%' ))
        <if test="authenticate != null and authenticate != ''">
            and authenticate = #{authenticate}
        </if>
        <if test="official != null">
            and official = #{official}
        </if>
            and del != 1
        <if test="sortName != null and sortName != ''">
            ORDER BY #{sortName} #{sortOrder}
        </if>
        <if test="pageNumber != null and pageSize != null">
            limit #{pageNumber}, #{pageSize}
        </if>
    </select>

    <select id="selectAppUserListCount" parameterType="com.zyx.parm.QueryAppUserParam" resultType="int">
        SELECT count(*) FROM user where (nickname LIKE CONCAT('%','${searchText}','%' ) or phone LIKE
        CONCAT('%','${searchText}','%' ))
        <if test="authenticate != null and authenticate != ''">
            and authenticate = #{authenticate}
        </if>
        <if test="official != null">
            and official = #{official}
        </if>
            and del != 1
    </select>

    <select id="queryOfficialAccountList" resultMap="OfficialUserListDto">
        SELECT * FROM user where (nickname LIKE CONCAT('%','${searchText}','%' ) or phone LIKE
        CONCAT('%','${searchText}','%' ))
        <if test="authenticate != null and authenticate != ''">
            and authenticate = #{authenticate}
        </if>
        and official = 1
        and del != 1
        <if test="sortName != null and sortName != ''">
            ORDER BY #{sortName} #{sortOrder}
        </if>
        <if test="pageNumber != null and pageSize != null">
            limit #{pageNumber}, #{pageSize}
        </if>
    </select>

    <update id="resetAppUser" parameterType="com.zyx.parm.appUser.AppUserCreateParam">
        UPDATE `user` SET modify_time = #{modifyTime}, password = #{password} WHERE phone = #{phone}
    </update>

</mapper>