<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.zyx.mapper.CircleMapper">
    <resultMap id="circleMap" type="com.zyx.model.Circle">
        <!--
          WARNING - @mbggenerated
        -->
        <id column="id" property="id" jdbcType="INTEGER"/>
        <result column="title" property="title" jdbcType="VARCHAR"/>
        <result column="create_id" property="createId" jdbcType="INTEGER"/>
        <result column="create_time" property="createTime" jdbcType="BIGINT"/>
        <result column="state" property="state" jdbcType="INTEGER"/>
        <result column="circle_master" property="circleMaster" jdbcType="VARCHAR"/>
        <result column="type" property="type" jdbcType="INTEGER"/>
        <result column="circle_master_id" property="circleMasterId" jdbcType="INTEGER"/>
        <result column="head_img_url" property="headImgUrl" jdbcType="VARCHAR"/>
        <result column="top" property="top" jdbcType="INTEGER"/>
        <result column="hot" property="hot" jdbcType="INTEGER"/>
        <result column="details" property="details" jdbcType="LONGVARCHAR"/>
    </resultMap>

    <select id="findByPager" resultMap="circleMap">
        SELECT * FROM circle ORDER BY create_time DESC  LIMIT #{start},#{end}
    </select>
    <select id="findById" resultMap="circleMap">
        SELECT * FROM circle WHERE id=#{id}
    </select>
    <update id="tuiJian">
        UPDATE circle SET top=#{top_size} where id=#{circle_id}
    </update>
</mapper>