<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.zyx.mapper.CircleItemMapper">
    <resultMap id="circleItemMap" type="com.zyx.model.CircleItem">
        <!--
          WARNING - @mbggenerated
        -->
        <id column="id" property="id" jdbcType="INTEGER"/>
        <result column="circle_id" property="circleId" jdbcType="INTEGER"/>
        <result column="create_id" property="createId" jdbcType="INTEGER"/>
        <result column="title" property="title" jdbcType="VARCHAR"/>
        <result column="hot" property="hot" jdbcType="INTEGER"/>
        <result column="create_time" property="createTime" jdbcType="BIGINT"/>
        <result column="top" property="top" jdbcType="INTEGER"/>
        <result column="content" property="content" jdbcType="LONGVARCHAR"/>
        <result column="img_url" property="imgUrl" jdbcType="VARCHAR"/>
        <result column="base_content" property="baseContent" jdbcType="VARCHAR"/>
    </resultMap>

    <resultMap id="circleItemVoMap" type="com.zyx.model.vo.CircleItemVo" extends="circleItemMap">
        <result column="createUser" property="createUser" jdbcType="VARCHAR"/>
        <result column="circleTitle" property="circleTitle" jdbcType="VARCHAR"/>
        <result column="type_name" property="circleTypeName" jdbcType="VARCHAR"/>

        <!--<result column="zan_Counts" property="zanCounts" jdbcType="INTEGER"/>-->
        <!--<result column="comment_Counts" property="commentCounts" jdbcType="INTEGER"/>-->
        <association property="zanCounts" column="id" select="zanSelect"/>
        <association property="commentCounts" column="id" select="commentSelect"/>
        <association property="isDeva" column="id" select="queryIsDeva"/>
    </resultMap>

    <select id="zanSelect" resultType="int">
        SELECT COUNT(id) FROM zan WHERE zan.body_type=5
    </select>
    <select id="commentSelect" parameterType="int" resultType="int">
        SELECT COUNT(id) FROM comment WHERE comment_type=1 AND comment_id=#{circleId}
    </select>
    <select id="findByPager" resultMap="circleItemVoMap">
        SELECT
        circle_item.id,
        circle_item.img_url,
        circle_item.circle_id,
        circle_item.create_id,
        circle_item.title,
        circle_item.content,
        circle_item.hot,
        circle_item.create_time,
        circle_item.top,
        circle_item.state,
        circle_item.base_content,
        `user`.nickname AS createUser,
        circle.title AS circleTitle,
        circle_type.type_name
        FROM
        circle_item
        INNER JOIN `user` ON circle_item.create_id = `user`.id
        INNER JOIN circle ON circle_item.circle_id = circle.id
        INNER JOIN circle_type ON circle.circle_type = circle_type.id
        WHERE circle_item.state != -1
        <if test="circleId != null and circleId != -1 ">
            AND circle_id=#{circleId}
        </if>
        ORDER BY create_time DESC
        LIMIT #{start},#{end}
    </select>
    <select id="findOne" resultMap="circleItemMap">
        SELECT * FROM circle_item WHERE id=#{id} AND state != -1
    </select>
    <update id="setVisible">
        UPDATE circle_item SET state=#{state} WHERE id=#{id}
    </update>
    <select id="search" resultMap="circleItemVoMap">
     SELECT
        circle_item.id,
        circle_item.circle_id,
        circle_item.img_url,
        circle_item.create_id,
        circle_item.title,
        circle_item.content,
        circle_item.hot,
        circle_item.create_time,
        circle_item.top,
        circle_item.state,
        `user`.nickname AS createUser,
        circle.title AS circleTitle,
        circle_type.type_name,
        circle_item.base_content
        FROM
        circle_item
        INNER JOIN `user` ON circle_item.create_id = `user`.id
        INNER JOIN circle ON circle_item.circle_id = circle.id
        INNER JOIN circle_type ON circle.circle_type = circle_type.id
        WHERE (circle_item.title LIKE CONCAT('%','${searchText}','%') OR `user`.`nickname` LIKE CONCAT('%','${searchText}','%')) AND circle_item.state != -1 ORDER BY create_time DESC  LIMIT #{start},#{end}
    </select>

    <select id="searchCount" resultType="java.lang.Integer">
        SELECT COUNT(*) as counts FROM circle_item
        <if test="circleId != null">
            WHERE circle_id=#{circleId}
        </if>
    </select>

    <update id="editCircleItem">
        UPDATE circle_item SET title=#{title},content=#{content} WHERE id=#{id}
    </update>

    <update id="deleteByIds">
        UPDATE circle_item SET state = -1 WHERE id IN
        <foreach item="item" index="index" collection="array" open="(" separator="," close=")">
            #{item}
        </foreach>
    </update>

    <select id="queryIsDeva" parameterType="java.lang.Integer" resultType="boolean">
        SELECT (case when count(id) > 0 then 1 else 0 end) as isDeva FROM devaluation WHERE model = 4 AND model_id = #{id}
    </select>

</mapper>