<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.zyx.mapper.CombinedDataMapper" >
  <resultMap id="BaseResultMap" type="com.zyx.model.CombinedData" >
    <!--
      WARNING - @mbggenerated
    -->
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="combinedId" property="combinedid" jdbcType="INTEGER" />
    <result column="dataId" property="dataid" jdbcType="INTEGER" />
    <result column="create_time" property="createTime" jdbcType="BIGINT" />
    <result column="del" property="del" jdbcType="INTEGER" />
    <result column="mask" property="mask" jdbcType="INTEGER" />
  </resultMap>


  <select id="queryCombinationActivity" parameterType="com.zyx.parm.activity.QueryCombinationParm" resultType="com.zyx.model.CombinedData">
    SELECT * FROM combined_data WHERE 1=1
    <if test="id != null">
      AND combinedId = #{id}
    </if>
    <if test="createTime != null">
      AND createTime = #{createTime}
    </if>
    ORDER BY create_time desc
    <if test="pageNumber != null and page != null">
      limit #{page}, #{pageNumber}
    </if>
  </select>

  <delete id="delCombinationActivity" parameterType="java.lang.Integer">
      delete from combined_data where combinedId = #{combinationId}
  </delete>


</mapper>