<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zyx.mapper.CombinationMapper">
    <resultMap id="BaseResultMap" type="com.zyx.model.Combination">
        <!--
          WARNING - @mbggenerated
        -->
        <id column="id" jdbcType="INTEGER" property="id"/>
        <result column="name" jdbcType="VARCHAR" property="name"/>
        <result column="image" jdbcType="VARCHAR" property="image"/>
        <result column="create_time" jdbcType="BIGINT" property="createTime"/>
        <result column="del" jdbcType="INTEGER" property="del"/>
        <result column="mask" jdbcType="INTEGER" property="mask"/>
    </resultMap>

    <insert id="insertCombination" parameterType="com.zyx.model.Combination" useGeneratedKeys="true">
        insert INTO combination(name, image, create_time, del, mask)
        VALUE (#{name}, #{image}, #{createTime}, #{del}, #{mask})
        <selectKey keyProperty="id" resultType="java.lang.Integer" order="AFTER">
            select LAST_INSERT_ID() AS id
        </selectKey>
    </insert>

    <select id="queryCombination" parameterType="com.zyx.parm.activity.QueryCombinationParm"
            resultType="com.zyx.model.Combination">
        SELECT * FROM combination WHERE 1=1
        <if test="id != null">
            AND id = #{id}
        </if>
        <if test="name != null and name != ''">
            AND name = #{name}
        </if>
        <if test="createTime != null">
            AND createTime = #{createTime}
        </if>
        ORDER BY create_time desc
        <if test="pageNumber != null and page != null">
            limit #{page}, #{pageNumber}
        </if>
    </select>

    <update id="updateCombination" parameterType="com.zyx.model.Combination">
        UPDATE combination
        <set>
            <if test="name != null and name != ''">
                name = #{name},
            </if>
            <if test="image != null and image != ''">
                image = #{image},
            </if>
            <if test="del != null">
                del = #{del},
            </if>
            <if test="mask != null">
                mask = #{mask}
            </if>
        </set>
        WHERE id = #{id}
    </update>
</mapper>