<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zyx.mapper.LiveInfoMapper">
  <resultMap id="BaseResultMap" type="com.zyx.model.LiveInfo">
    <!--
      WARNING - @mbggenerated
    -->
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="create_time" jdbcType="BIGINT" property="createTime" />
    <result column="auth" jdbcType="INTEGER" property="auth" />
    <result column="type" jdbcType="INTEGER" property="type" />
    <result column="start" jdbcType="BIGINT" property="start" />
    <result column="end" jdbcType="BIGINT" property="end" />
    <result column="user_id" jdbcType="BIGINT" property="userId" />
    <result column="title" jdbcType="VARCHAR" property="title" />
    <result column="lab" jdbcType="INTEGER" property="lab" />
    <result column="bgm_url" jdbcType="VARCHAR" property="bgmUrl" />
    <result column="vedio_url" jdbcType="VARCHAR" property="vedioUrl" />
    <result column="status" jdbcType="INTEGER" property="status" />
  </resultMap>
</mapper>