<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zyx.mapper.SysRoleMapper">
    <resultMap id="BaseResultMap" type="com.zyx.model.SysRole">
        <!--
          WARNING - @mbggenerated
        -->
        <id column="ID" jdbcType="INTEGER" property="id"/>
        <result column="ROLE_ID" jdbcType="VARCHAR" property="roleId"/>
        <result column="ROLE_NAME" jdbcType="VARCHAR" property="roleName"/>
        <result column="RIGHTS" jdbcType="VARCHAR" property="rights"/>
        <result column="PARENT_ID" jdbcType="VARCHAR" property="parentId"/>
        <result column="ADD_QX" jdbcType="VARCHAR" property="addQx"/>
        <result column="DEL_QX" jdbcType="VARCHAR" property="delQx"/>
        <result column="EDIT_QX" jdbcType="VARCHAR" property="editQx"/>
        <result column="CHA_QX" jdbcType="VARCHAR" property="chaQx"/>
        <result column="QX_ID" jdbcType="VARCHAR" property="qxId"/>
        <result column="ROLE_DESC" jdbcType="VARCHAR" property="roleDesc"/>
        <result column="MENU_PERM" jdbcType="VARCHAR" property="menuPerm"/>
    </resultMap>

    <resultMap id="SystemRoleListDto" type="com.zyx.dto.SystemRoleListDto">
        <id column="id" jdbcType="INTEGER" property="id"/>
        <result column="ROLE_NAME" jdbcType="VARCHAR" property="roleName"/>
        <result column="ROLE_ID" jdbcType="VARCHAR" property="roleId"/>
    </resultMap>

    <select id="querySystemRoleList" parameterType="com.zyx.parm.sys.QuerySystemRoleParam"
            resultMap="BaseResultMap">
        SELECT * FROM SYS_ROLE where (ROLE_NAME LIKE CONCAT('%','${searchText}','%' ) or ROLE_DESC LIKE
        CONCAT('%','${searchText}','%' ))
        <if test="sortName != null and sortName != ''">
            ORDER BY #{sortName} #{sortOrder}
        </if>
        <if test="pageNumber != null and pageSize != null">
            limit #{pageNumber}, #{pageSize}
        </if>
    </select>

    <select id="querySystemRoleListCount" parameterType="com.zyx.parm.sys.QuerySystemRoleParam"
            resultType="int">
        SELECT count(*) FROM SYS_ROLE where (ROLE_NAME LIKE CONCAT('%','${searchText}','%' ) or ROLE_DESC LIKE
        CONCAT('%','${searchText}','%' ))
    </select>

    <select id="queryAllSystemRole" resultMap="SystemRoleListDto">
        SELECT id, ROLE_ID, ROLE_NAME FROM SYS_ROLE
    </select>
</mapper>