<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zyx.mapper.SysUserMapper">
    <resultMap id="BaseResultMap" type="com.zyx.model.SysUser">
        <!--
          WARNING - @mbggenerated
        -->
        <id column="ID" jdbcType="INTEGER" property="id"/>
        <result column="USER_ID" jdbcType="VARCHAR" property="userId"/>
        <result column="USERNAME" jdbcType="VARCHAR" property="username"/>
        <result column="PASSWORD" jdbcType="VARCHAR" property="password"/>
        <result column="NAME" jdbcType="VARCHAR" property="name"/>
        <result column="RIGHTS" jdbcType="VARCHAR" property="rights"/>
        <result column="ROLE_ID" jdbcType="VARCHAR" property="roleId"/>
        <result column="LAST_LOGIN" jdbcType="VARCHAR" property="lastLogin"/>
        <result column="IP" jdbcType="VARCHAR" property="ip"/>
        <result column="STATUS" jdbcType="VARCHAR" property="status"/>
        <result column="BZ" jdbcType="VARCHAR" property="bz"/>
        <result column="SKIN" jdbcType="VARCHAR" property="skin"/>
        <result column="EMAIL" jdbcType="VARCHAR" property="email"/>
        <result column="NUMBER" jdbcType="VARCHAR" property="number"/>
        <result column="PHONE" jdbcType="VARCHAR" property="phone"/>
    </resultMap>

    <resultMap id="SystemUserListResultMap" type="com.zyx.dto.SystemUserListDto">
        <id column="ID" jdbcType="INTEGER" property="id"/>
        <result column="USER_ID" jdbcType="VARCHAR" property="userId"/>
        <result column="USERNAME" jdbcType="VARCHAR" property="username"/>
        <result column="NAME" jdbcType="VARCHAR" property="name"/>
        <result column="ROLE_ID" jdbcType="VARCHAR" property="roleId"/>
        <result column="BZ" jdbcType="VARCHAR" property="bz"/>
        <association property="systemRoleListDto" column="ROLE_ID" select="selectRoleBySysUser"></association>
    </resultMap>

    <select id="querySystemUserList" parameterType="com.zyx.parm.sys.QuerySystemUserParam"
            resultMap="SystemUserListResultMap">
        SELECT * FROM SYS_USER where (NAME LIKE CONCAT('%','${searchText}','%' ) or USERNAME LIKE
        CONCAT('%','${searchText}','%' ))
        <if test="sortName != null and sortName != ''">
            ORDER BY #{sortName} #{sortOrder}
        </if>
        <if test="pageNumber != null and pageSize != null">
            limit #{pageNumber}, #{pageSize}
        </if>
    </select>

    <select id="querySystemUserListCount" parameterType="com.zyx.parm.sys.QuerySystemUserParam"
            resultType="int">
        SELECT count(*) FROM SYS_USER where (NAME LIKE CONCAT('%','${searchText}','%' ) or USERNAME LIKE
        CONCAT('%','${searchText}','%' ))
    </select>

    <select id="selectRoleBySysUser" parameterType="String" resultType="com.zyx.dto.SystemRoleListDto">
        SELECT * FROM SYS_ROLE where ROLE_ID = #{id}
    </select>

    <update id="editSysRole" parameterType="com.zyx.parm.sys.CreateSystemUserParam">
        update SYS_USER set ROLE_ID = #{id} where id = #{id}
    </update>

</mapper>